<header class="text-center">
  <h1>Chess Demo</h1>
</header>

<div class="boardContainer container text-center">

  <div class="row">

    <div class="col-1"></div>
    <div class="col-10">
      <div class="letters">
        <span>a</span>
        <span>b</span>
        <span>c</span>
        <span>d</span>
        <span>e</span>
        <span>f</span>
        <span>g</span>
        <span>h</span>
      </div>

    </div>
    <div class="col-1"></div>
  </div>

  <div class="d-flex">

    <div class="col-1 numbers">
      <span class="number">8</span>
      <span class="number">7</span>
      <span class="number">6</span>
      <span class="number">5</span>
      <span class="number">4</span>
      <span class="number">3</span>
      <span class="number">2</span>
      <span class="number">1</span>
    </div>

    <div class="col-10">
      <div id="chessBoard">
        <!-- row 1 -->
        <div id="8a" class="tile"></div>
        <div id="8b" class="tile black"></div>
        <div id="8c" class="tile"></div>
        <div id="8d" class="tile black"></div>
        <div id="8e" class="tile"></div>
        <div id="8f" class="tile black"></div>
        <div id="8g" class="tile"></div>
        <div id="8h" class="tile black"></div>
        <!-- row 2 -->
        <div id="7a" class="tile black"></div>
        <div id="7b" class="tile"></div>
        <div id="7c" class="tile black"></div>
        <div id="7d" class="tile"></div>
        <div id="7e" class="tile black"></div>
        <div id="7f" class="tile"></div>
        <div id="7g" class="tile black"></div>
        <div id="7h" class="tile"></div>
        <!-- row 3 -->
        <div id="6a" class="tile"></div>
        <div id="6b" class="tile black"></div>
        <div id="6c" class="tile"></div>
        <div id="6d" class="tile black"></div>
        <div id="6e" class="tile"></div>
        <div id="6f" class="tile black"></div>
        <div id="6g" class="tile"></div>
        <div id="6h" class="tile black"></div>
        <!-- row 4 -->
        <div id="5a" class="tile black"></div>
        <div id="5b" class="tile"></div>
        <div id="5c" class="tile black"></div>
        <div id="5d" class="tile"></div>
        <div id="5e" class="tile black"></div>
        <div id="5f" class="tile"></div>
        <div id="5g" class="tile black"></div>
        <div id="5h" class="tile"></div>
        <!-- row 5 -->
        <div id="4a" class="tile"></div>
        <div id="4b" class="tile black"></div>
        <div id="4c" class="tile"></div>
        <div id="4d" class="tile black"></div>
        <div id="4e" class="tile"></div>
        <div id="4f" class="tile black"></div>
        <div id="4g" class="tile"></div>
        <div id="4h" class="tile black"></div>
        <!-- row 6 -->
        <div id="3a" class="tile black"></div>
        <div id="3b" class="tile"></div>
        <div id="3c" class="tile black"></div>
        <div id="3d" class="tile"></div>
        <div id="3e" class="tile black"></div>
        <div id="3f" class="tile"></div>
        <div id="3g" class="tile black"></div>
        <div id="3h" class="tile"></div>
        <!-- row 7 -->
        <div id="2a" class="tile"></div>
        <div id="2b" class="tile black"></div>
        <div id="2c" class="tile"></div>
        <div id="2d" class="tile black"></div>
        <div id="2e" class="tile"></div>
        <div id="2f" class="tile black"></div>
        <div id="2g" class="tile"></div>
        <div id="2h" class="tile black"></div>
        <!-- row 8 -->
        <div id="1a" class="tile black"></div>
        <div id="1b" class="tile"></div>
        <div id="1c" class="tile black"></div>
        <div id="1d" class="tile"></div>
        <div id="1e" class="tile black"></div>
        <div id="1f" class="tile"></div>
        <div id="1g" class="tile black"></div>
        <div id="1h" class="tile"></div>

      </div>
    </div>
    <div class="col-1 numbers">
      <span class="number">8</span>
      <span class="number">7</span>
      <span class="number">6</span>
      <span class="number">5</span>
      <span class="number">4</span>
      <span class="number">3</span>
      <span class="number">2</span>
      <span class="number">1</span>
    </div>

  </div>

  <div class="row">

    <div class="col-1"></div>
    <div class="col-10">
      <div class="letters">
        <span>a</span>
        <span>b</span>
        <span>c</span>
        <span>d</span>
        <span>e</span>
        <span>f</span>
        <span>g</span>
        <span>h</span>
      </div>

    </div>
    <div class="col-1"></div>
  </div>

</div>